@import 'bootstrap';

// custom variables
$font-path: '../fonts/';
$header-font-path: $font-path;
$header-font-name: 'SourceSansPro-Semibold-webfont';
$header-font-svg-id: 'SourceSansProSemibold';

// bootstrap variables
$body-bg: #eee;
$link-color: #1e6ec1;
$link-hover-color: $link-color;
$headings-font-family: 'Source Sans Pro';
$headings-font-weight: 600;
$icon-font-path: $font-path;


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-darker:            #333;
$gray-dark:              #666;
$gray:                   #999;
$gray-light:             #ccc;
$gray-lighter:           #ddd;

$brand-primary:         #1e6ec1;
$brand-success:         #00a96d;
$brand-info:            #5bc0de;
$brand-warning:         #ff9d00;
$brand-danger:          #c40022;


//== Scaffolding
//
// ## Settings for some of the most global styles.

//** Background color for `<body>`.
// $body-bg:               #333;

//** Global text color on `<body>`.
$text-color:            $gray-darker;

//** Global textual link color.
$link-color:            $brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color:      $brand-primary;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.


$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          13px;
$font-size-large:         ceil(($font-size-base * 1.25)); // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)); // ~12px

$font-size-h1:            floor(($font-size-base * 2.5)); // ~32px
$font-size-h2:            floor(($font-size-base * 2.0)); // ~28px
$font-size-h3:            ceil(($font-size-base * 1.5)); // ~22px
$font-size-h4:            ceil(($font-size-base * 1.1)); // ~14px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.85)); // ~12px

$alt-font-family:$font-family-sans-serif;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px




//== Navbar
//
//##

// Basics of a navbar
$navbar-height:                    40px;
$navbar-margin-bottom:             0;
$navbar-border-radius:             $border-radius-base;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2));
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2);
$navbar-collapse-max-height:       340px;

$navbar-default-color:             #777;
$navbar-default-bg:                $gray-darker;
$navbar-default-border:            darken($navbar-default-bg, 6.5%);

// Navbar links
$navbar-default-link-color:                $gray;
$navbar-default-link-hover-color:          $gray-lighter;
$navbar-default-link-hover-bg:             transparent;
$navbar-default-link-active-color:         #fff;
$navbar-default-link-active-bg:            transparent;
$navbar-default-link-disabled-color:       $gray-dark;
$navbar-default-link-disabled-bg:          transparent;





//PRIMARY NAV CLASS
$navbar-primary-height: 					70px;
$navbar-primary-font-size:					$font-size-large;
$navbar-primary-font-weight:				600;
$navbar-primary-default-color:				$gray;
$navbar-primary-link-color:                $gray;
$navbar-primary-link-hover-color:          $gray-dark;
$navbar-primary-link-hover-bg:             transparent;
$navbar-primary-link-active-color:         $brand-danger;
$navbar-primary-link-active-bg:            transparent;
$navbar-primary-link-disabled-color:       $gray-dark;
$navbar-primary-link-disabled-bg:          transparent;

